:root {
    --Body-color:#E4E9F7;
    --side-bar-color:#FFFFFF;
    --text-color:#707070;
    --primary-color:#09203F;
    --secondary-color:#537895;
}

.App.Dark {
    --Body-color:#18191A;
    --side-bar-color:#242526;
    --text-color:#CCCCCC;
    --primary-color:#abc4ff;
    --secondary-color:#edf2fb;
}